In [1]:
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [2]:
Data = pd.read_csv("Data_Assignment2.csv")

In [3]:
del Data['Unnamed: 0']

In [4]:
import requests
import json
import urllib

def get_symbol(name):
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)

    result = requests.get(url).json()
    
    for x in result['ResultSet']['Result']:
        #if x['name'] == name :
            #if (x['exchDisp']=='NYSE'or x['exchDisp']=='NASDAQ'):
                #if x['typeDisp']=='Equity':
           # n = fuzz.token_set_ratio(name, x['name'])
            #if n >65:
                    return x['symbol']
        
##company = get_symbol("twitter")
##print(company)
ticker=[]
cmp_name = Data.ENTITY
##for  xyz in cmp_name:
    ##ticker = get_symbol(xyz)
    ##print(ticker)
    
for  xyz in cmp_name:
    ticker.append(get_symbol(xyz))
    
    
print(ticker)

['AOL-U.TI', 'ADP', None, 'CIT-U.TI', None, 'HPQ', None, 'KDDIY', None, 'AOL-U.TI', None, None, None, 'GPS', None, None, None, None, None, 'AMTD', 'FIS', 'DNPCF', None, None, None, None, None, 'AT', 'SBUX', None, None, None, '^UMIAMIFL', None, None, None, None, None, None, None, None, None, None, None, None, 'LYNS', None, None, 'IGRW', None, None, None, None, 'HTLD', None, 'AT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'PPB.L', 'JPM-PB', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'CIT-U.TI', None, None, 'GB00B1Z54R10.L', None, None, None, 'SGAMY', None, None, None, None, None, None, None, 'NHS', None, None, None, '603330.SS', '200771.SZ', None, None, None, None, None, None, None, None, None, 'GPN', None, None, None, None, None, 'KTC.DU', None, None, 'ATVI', None, None, None, None, 'KCT.V', 'K55306BA2822.KS', None, None, None, None, None, None, 'CIT-U.TI', None, None, '2GF.F', 'NTDOY', 'TWTR', 'AAPL', None, None, 'NMBS.KL', None, None, None, 'VOD', None, None, None, 'FB', 'YAHOY', 'ADBE', None, None, 'AABA', None, None, 'NDAQ', None, 'JAPSY', None, None, 'D', None, 'SPLS', None, 'UPS', 'CYH', None, None, None, None, 'AOL-U.TI', 'HD', 'TGT', 'JPM-PB', 'EBAY', 'AABA', None, None, 'IRS', 'TALK.L', 'MSPYX', None, None, None, None, None, 'CPWFF8.EX', 'SJ8.MU', None, None, '0303.HK', None, None, None, None, None, None, None, None, None, None, None, 'FLINGX', None, None, 'ANTM', 'VKTX', None, None, None, None, None, None, None, None, 'DGX', 'ATGYX', None, None, None, None, None, None, 'T', None, None, None, None, '035080.KQ', None, 'AABA', None, None, None, None, None, None, '^CEX', None, None, 'EFX', None]

In [5]:
start = dt.datetime(2013,1,1)
end = dt.datetime(2014,1,1)
data_source = 'yahoo'
panel_data = pdr.DataReader(ticker, data_source, start, end)

/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AOL-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: None, replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CIT-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '^UMIAMIFL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'JPM-PB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'GB00B1Z54R10.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '603330.SS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'KCT.V', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'K55306BA2822.KS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'NMBS.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'JAPSY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CPWFF8.EX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'FLINGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/Nikhil/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'VKTX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [53]:
# The index in this DataFrame is the major index of the panel_data.
close = panel_data.ix['Close']

start_dt = dt.datetime(2013,1,1)
end_dt = dt.datetime(2013,12,31)

# Getting all weekdays between 01/01/2004 and 12/31/2016
all_weekdays = pd.date_range(start=start_dt, end=end_dt, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

close.head(10)
close = close.fillna(method='ffill')

In [54]:
close.to_csv('Lab3_Finance.csv', index=True, encoding='utf-8')

In [55]:
data_ticker = pd.DataFrame(ticker) 
data_ticker['Ticker_Symbol'] = pd.Series(ticker, index=data_ticker.index)

In [56]:
Data['Ticker_symbol']= data_ticker['Ticker_Symbol']

In [57]:
#Drop empty columns(axis=1 for columns and axis=0 for rows; 
#how='all' to drop if all values are nan and how='any' to drop if any value is nan)
Data = Data.dropna(axis=0,how='any')

In [58]:
Data.head()

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY,Ticker_symbol
0,AOL,2004,92000000,web,inside job,Just email address/Online information,AOL-U.TI
1,Automatic Data Processing,2005,125000,financial,poor security,SSN/Personal details,ADP
3,Citigroup,2005,3900000,financial,lost / stolen device,Credit card information,CIT-U.TI
5,Hewlett Packard,2006,200000,"tech, retail",lost / stolen device,SSN/Personal details,HPQ
7,KDDI,2006,4000000,telecoms,hacked,Just email address/Online information,KDDIY

In [59]:
Data.to_csv('Lab3_Finance1.csv', index=False, encoding='utf-8')

In [60]:
close.groupby(pd.TimeGrouper(freq='M')).mean()

,ADP,HPQ,KDDIY,GPS,AMTD,FIS,DNPCF,AT,SBUX,LYNS,...,JPM-PB,GB00B1Z54R10.L,603330.SS,KCT.V,K55306BA2822.KS,NMBS.KL,JAPSY,CPWFF8.EX,FLINGX,VKTX
2013-01-31,52.116290,7.448600,5.879394,32.380909,18.464091,36.744091,15.095455,12.430909,27.585682,0.062364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,53.411326,7.935059,6.150500,32.378000,19.629501,37.106501,16.195000,11.321000,27.527000,0.058800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,56.058781,10.020111,6.468572,35.590952,20.566191,38.418095,17.982857,5.399048,28.621190,0.063714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,57.508580,9.531005,7.192273,36.994091,19.640909,40.336364,19.210000,4.767273,29.320000,0.072045,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,61.294041,10.054101,7.970725,40.042609,22.037391,44.256957,18.860001,4.912174,31.521522,0.095652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-06-30,60.261633,11.168029,7.751333,41.278000,23.699500,43.723500,16.751999,4.459500,32.498500,0.124600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-31,63.034317,11.695889,8.669565,44.538695,26.033043,44.190435,16.379999,4.273043,34.436304,0.140409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-08-31,63.181020,11.437330,8.670303,43.420454,26.818182,45.777272,16.379999,4.079545,35.943410,0.117682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-30,64.319997,9.893387,8.365397,41.143809,26.790952,45.978571,19.168571,4.134286,37.428095,0.141624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-10-31,64.410429,10.378707,8.902029,38.058261,27.186087,46.913478,20.367826,4.807391,39.168261,0.143339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-30,68.261633,11.708836,9.937143,40.436667,28.817143,49.787143,20.574286,3.870952,40.463571,0.140000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,69.580174,12.533234,10.184848,39.120455,29.617727,51.616818,20.639999,3.289545,39.136591,0.141364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
close = close.T

In [62]:
close.to_csv('Lab3_Finance.csv', index=True, encoding='utf-8')

In [63]:
r_df= pd.DataFrame(columns=['Symbol','Date','Price'])
k =0
for i in range(len(close)) : 
    ts = close.index[i]
    for j in range(len(close.iloc[i])): 
        time_frame = pd.to_datetime(str(close.columns.values[j]))
        date = time_frame.strftime('%Y-%m-%d')
        r_df.loc[k]=( ts,  date , close.iloc[i][j])
        k=k+1

In [ ]:
r_df.to_csv('Stock.csv', index=True, encoding='utf-8')